
.bands-container {
    min-height: 100vh;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
}

.band-tile {
    border-style: dotted;
    display: flex;
    align-items: center;
}

.tile-image {
    max-height: 100px;
    max-width: 80px;
}